* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
	background-color: #fff;
	width: 100%;
	height: 100vh;
	color: #34495E;
	font-size: 16px;
}

h1, h2, h3, h4 {
	font-weight: 300;
}

h1 {
	font-size: 2em;
	padding-bottom: 1%;
}

ul {
	list-style: none;
	list-style-type: none;
	display: block;
}

button {
	background-color: rgba(255,255,255,0.0);
	color: #34495E;
	border: none;
	outline: none;
	cursor: pointer;
}


/* BOTTOM TOOLBAR */
.toolbar {
	background-color: #34495E;
	color: white;
	float: left;
	width: 100%;
	height: 9vh;
}

.toolbar button {
	color: white;
	font-size: 16px;
	height: 100%;
	float: left;
}

.toolbar .bar-button-selected {
	background-color: #fff;
	color: #34495E; 
}

/* MAP */
#map-box {
	background-color: #95a5a6;/*#7f8c8d;*/
	width: 17%;
}

#map-box .map-wrapper {
	height: 91vh;
	width: 98%;
	padding-right: 2%;
}

#map-box .toolbar button {
	width: 30%;
}

/* MAIN COMPONENTS */

#main-wrapper {
	width: 100vw;
	height: 100vh;
	float: left;
}

#main-wrapper > * {
	display: inline-block;
	float: left;
	height: inherit;
	position: relative;
}

#area-selection-box {
	width: 12%;
	background-color: #95a5a6;/*#7f8c8d;*/
}

#data-selection-box {
	background-color: #95a5a6;/*#7f8c8d;*/
	width: 11%;
}

#data-visualization-box {
	width: 60%;
}

.push-to-bottom {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

/* AREA SELECTION TOOLBOX */
#area-selection-tool-container {
	position: relative;
}

#area-button-wrapper {
	text-align: left;
	background-color: #fff;
}

.district-button-container {
	border-top: 1px solid #ECF0F1;
	padding: 1%;
}

.community-button-container {
	width: 50%;
	display: inline-block;
}

button.district-button {
	width: 100%;
	font-size: 11px;
	font-weight: 600;
}

button.community-button {
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 10px;
}

.area_highlighted {
	background-color: #bdc3c7;
	border: 2px solid #bdc3c7;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.area_selected1 {
	background-color: #CC6677;
}

.area_selected2 {
	background-color: #fdae61;/*#44AA99;*/	
}

.area_selected3 {
	background-color: #abd9e9;/*#DDCC77;*/	
}

.area_selected4 {
	background-color: #2c7bb6;/*#DDCC77;*/	
}

#area-selection-box .toolbar > button {
	width: 50%;
}


/* DATA SELECTION TOOL */
#data-visualization-box .toolbar > button {
	width: 10%;
}

#data-button-wrapper > button {
	width: 80%;
	float: right;
	font-size: 16px;
	border-top: 1px solid #95a5a6;
	text-align: right;
	padding-right: 5%;
	color: white;
	padding-top: 3%;
	padding-bottom: 3%;
}

#data-button-wrapper > button.data-button-selected {
	background-color: white;
	color: #34495E;
}

#visualization-compare-wrapper {
	width: 100%;
	height: 91vh;
	float: left;
}

/* Compare tool */
.communities_group {
	width: 33.3333%;
	float: left;
	height: 100%;
}

.communities_group header {
	height: 7%;
}

.communities_group h1 {
	font-size: 30px;
}

.communities_group header.group-color1 h1 {
	background-color: #CC6677;
}

.communities_group header.group-color2 h1 {
	background-color: #fdae61;/*#44AA99;*/
}

.communities_group header.group-color3 h1 {
	background-color: #abd9e9;/*#DDCC77;*/
}

.communities_group header.group-color4 h1 {
	background-color: #2c7bb6;
}

.chart {
	width: 100%;
	height: 60%;
	margin-top: 20%;
}

.chart svg {
	width: 100%;
	height: 100%;
}

svg {
	/*background-color: #aaa;*/
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}












/* DISTRICTS COLORS */
.Central {
	fill: rgba(140,81,10,0.2);
}

.NorthSide {
	fill: rgba(191,129,45,0.2);
}

.FarNorthSide {
	fill: rgba( 1,102,94, 0.2);
}

.NorthwestSide {
	fill: rgba(246,232,195 , 0.2);
} 

.WestSide {
	fill: rgba( 245,245,245, 0.2);
}
.SouthSide {
	fill: rgba( 199,234,229, 0.2);
}

.SouthwestSide {
	fill: rgba( 128,205,193, 0.2);
}

.FarSoutheastSide {
	fill: rgba(53,151,143 , 0.2);
}

.FarSouthwestSide {
	fill: rgba(223,194,125, 0.2);
}

.geo-map {
	width: 100%;
	height: 100%;
}

.geo-map > text {
	font: 10px 'Open Sans', sans-serif;
	text-anchor: middle;
}

.geo-map > path.area_highlighted {
	fill: #bdc3c7;
}

.geo-map > path.area_selected1 {
	fill: #CC6677;
}

.geo-map > path.area_selected2 {
	fill: #fdae61;/*#44AA99;*/
}

.geo-map > path.area_selected3 {
	fill: #abd9e9;/*#DDCC77;*/
}

.geo-map > path.area_selected4 {
	fill: #2c7bb6;
}


.geo-map .place-label {
	/*font-style:normal;*/
	/*font-weight:normal;*/
	fill-opacity:1;
	stroke:#34495E;
	stroke-width: 0.5px;
	stroke-linecap:butt;
	stroke-linejoin:miter;
	stroke-opacity:1;
	background-color: white;
	
	font-weight: 600;
	fill: #34495E;
}










/* HEAT MAP */

.heatmap-container {
	width: 50%;
	float: left;
	height: 100%;
}

.heatmap-container svg {
	height: 100%;
	width: 100%;
}


.option-menu-tool-container {
	width: 30%;
	float: left;
	height: 100%;
}

.option-menu-tool-container svg {
	height: 100%;
	width: 100%;
}


.q0-9 { fill:rgb(204,236,230); }
.q1-9 { fill:rgb(153,216,201); }
.q2-9 { fill:rgb(102,194,164); }
.q3-9 { fill:rgb(44,162,95); }
.q4-9 { fill:rgb(0,109,44); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }

.heatmap-feature {
}

.option-button-selected {
	stroke:;
	stroke-width: 3;
}












